@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Varela Round", "Quicksand", sans-serif;
  background: url(BG.JPG);
  background-size: cover; /* Ensure the background image covers the entire background */
  background-repeat: no-repeat;
  background-color: black;
}
.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.postcard {
  width: 950px; /* Adjusted width */
  height: 600px; /* Adjusted height */
  background: rgba(255, 255, 255, 0.3);
  margin: 0 auto;
  border-radius: 2%;
  display: flex;
  justify-content: space-between;
  padding: 3em;
  box-shadow: 0.8em 0.8em 15px rgba(0, 0, 0, 0.3);
  transform: rotate(2.5deg);
  transition: all 0.5s ease;
}

.postcard1 {
  width: 950px; /* Adjusted width */
  height: 600px; /* Adjusted height */
  background: ##f594b8;
  position: absolute;
  left: 24%;
  -webkit-filter: blur(2px);
  z-index: -1;
  margin: 0 auto;
  border-radius: 2%;
  display: flex;
  justify-content: space-between;
  padding: 3em;
  box-shadow: 0.8em 0.8em 15px rgba(0, 0, 0, 0.3);
  transform: rotate(2.5deg);
  transition: all 0.5s ease;
}


h1 {
  text-align: center;
  font-size: 4.5em;
  color: #fdfdfd;
  margin-bottom: 5px;
}

.postcard:hover,
.postcard:active,
.postcard:focus {
  transform: rotate(0deg);
}

.push {
  margin-bottom: 1em;
  margin-top: 0.5em;
}

footer {
  margin: 2em auto;
  text-align: center;
  font-family: "Varela Round", "Quicksand", sans-serif;
  color: white;
}

footer p {
  font-size: 1em;
  letter-spacing: 1px;
}

p {
  font-size: 18px;
  line-height: 1.6;
  font-family: "Great Vibes", cursive;
  color: #333; /* Darker text color */
  font-weight: 500; /* Adjust font weight as needed */
}


.ullu {
  font-size: 25px;
  text-shadow: 0 0 20px rgb(255, 255, 255);
  color: #800020;
}
